.App {
  background-color: white;
  display: flex;
  flex-direction: column; 
  color: black;
  min-height: 100vh;
  padding: 0 1rem;
}

.okr-item {
  position: relative;
}

.title-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.okr-item:nth-child(odd) {
  background-color: #d3d3d31f;
}

.okr-title {
  vertical-align: top;
}
