.objective {
  padding: 1rem 0;
}

.objective-arrow {
  cursor: pointer;
}

.objective-expansion-marker {
  position: absolute;
  top: 65%;
  left: 0;
}

.marker {
  stroke: lightgray;
  stroke-width: 2;
}